* {
    margin: 0;
    padding: 0;
}
.local {
    height: 100vh;
    background-color: black;
    background: url('http://imghst.co/98/j8f8WuT5(e.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    color: #eee;
    font-family: cursive;
    padding-top: 10%;
}
#city {
    font-size: 30px;
    color: #eee;
    font-family: serif;
}
#country {
    font-size: 30px;
    color: #eee;
    font-family: serif;
}
#temp {
    font-size: 30px;
    color: #eee;
    font-family: monospace;
}
#tempunit {
    font-size: 30px;
    color: #eee;
    font-family: serif;
}
#tempunit:hover {
    text-decoration: none;
}
#desc {
    font-size: 30px;
    color: #eee;
    font-family: serif;
}
#deg {
    color: #eee;
    font-size: 30px;
    visibility: hidden;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 10px;
    width: 100%;
    font-family: cursive;
    
}
.name {
    font-size: 125%;
    text-decoration: none;
    color: crimson;
    font-weight: bold;
    
}
.name:hover {
    text-decoration: none;
}
